@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    background-image: linear-gradient(black,rgb(48, 48, 48));
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}
nav{
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 50px;
    opacity: 90%;
}

nav a {
    float: right;
    text-align: center;
    margin-left: 20px;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    border-bottom: solid 2px rgb(202, 111, 0);
    display: inline;
    padding-bottom: 10px;
}

a:hover{
    color:grey;
}

#body{
    display: flex;
    width: 100%;
    height: auto;
}

#about{
    width:75%;
    margin: auto;
}